title: Kevin Schroeder
subtitle: Mechanical Engineering Student
description: >- # this means to ignore newlines until "baseurl:"
  Kevin's Personal Portfolio Website

url: "https://kmschr.github.io" # the base hostname & protocol for your site, e.g. https://example.github.io
baseurl: "" # the subpath of your site, e.g. /blog

urls:
    - text: Welcome
      url: /
    - text: About Me
      url: /about
    - text: Blog
      url: /blog
    - text: Contact Me
      url: /contact

# Edit these details

author_logo: profile.jpg
author: Kevin Schroeder
author_bio: Hello, my name is Kevin Schroeder. I am a Mechanical Engineering student in my fourth year at CSU. I am pursuing a minor in computer science and have a passion for all things tech. On this site you can find out more about me and learn about some of the projects I have worked on in and out of school.
author_email: "kmschr@gmail.com"
author_location: Fort Collins, CO
author_website_url: "http://kmschr.github.io"

author_work_experiences:
            - company_name: Spirae
              company_logo: spirae.png
              company_url: https://www.spirae.com
              designation: Software Engineering Intern
              description: Prototyped a portable microgrid monitor/control web application <br /><a href="https://google.com">read more...</a>
              visibility: true
            - company_name: Precision Machined Products
              company_logo: pmp.png
              company_url: https://www.pmpmach.com
              designation: General Shop Assistant
              description: Assisted in machining and processing of high tolerance aerospace parts <br /><a href="https://google.com">read more...</a>
              visibility: true
            - company_name: University of Maryland Energy Research Center
              company_logo: umd.jpg
              company_url: https://energy.umd.edu/
              designation: NSF Research Transportation Electrification
              description: Assisted in production of bi-layered electrolyte solid oxide fuel cells<br /><a href="https://google.com">read more...</a>
              visibility: true

author_education_details:
              - college_logo: csu.jpeg
                college_name: CSU
                college_url: https://www.colostate.edu
                college_degree: Mechanical Engineering
                description: Bachelor of Science
                visibility: true

author_project_details:
              - project_thumbnail: gamershub.png
                project_title: Gamers Hub
                project_description: A Platform built for Gamers and Game Devs
                project_url: https://gamershub.in
                visibility: false
              - project_thumbnail: hack4r.PNG
                project_title: Hack4r
                project_description: A Platform built for Hackers and Penetration Testers
                project_url: https://hack4r.com
                visibility: false

# social links
github_username:  Kmschr
linkedin_username: kmschr101

#for comments using disqus
disqus_shortname:

# wakatime username (coding activity)
wakatime_username:

# formspree (contact form)
formspree_email: Kmschr@gmail.com

# syntax highlighter
markdown: kramdown
highlighter: rouge
permalink: pretty

# google analytics
google_analytics:

# Choose what to show ( can be true or false)
show_author_work_experiences: true
show_author_education_details: true
show_author_project_details: false

# algolia search
algolia:
  application_id: D9WA1YKTRQ
  index_name: blog_posts # You can replace that with whatever name you want
  files_to_exclude: []
  nodes_to_index: 'article'
  search_only_api_key: 58ffdd7cd6c45ec1577a7fcd789b1b9a

# pagination of posts
paginate: 4
per_page: 4
paginate_path: "/blog/page/:num/"

# minify
# compress_html:
#   clippings: all
#   comments: ["<!-- ", " -->"]
#   endings: all
#   ignore:
#     envs: ['development']

# Archives
# jekyll-archives:
#   enabled:
#     - categories
#   layout: archive
#   permalinks:
#     category: '/category/:name/'

# Shop
collections:
 - products

# Build settings

theme: devlopr
plugins:
  - jekyll-feed
  - jekyll-paginate
  - jekyll-gist
  - jekyll-seo-tag
  - jekyll-sitemap
  - jekyll-algolia
  - jekyll-menus


# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
exclude:
  - .sass-cache/
  - .jekyll-cache/
  - gemfiles/
  - Gemfile
  - Gemfile.lock
  - node_modules/
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/

destination: ./build
