body{
    background-color: #111;
}
blockquote {
    margin: 2rem 1rem 1rem;
    padding: 3px;
    background: whitesmoke;
    border: 1px solid;
}
.blog-img {
    max-width: 85%;
}

.blog-title {
    height: auto;
    width: 100%;
    padding: 11px;
    font-size: 36px;
}

.blog-gif {
    max-width: 60%;
}

@media(max-width: 479px) {
    .blog-img {
        max-width: 100%;
    }
    .blog-title {
        height: auto;
        width: 100%;
        font-size: 18px;
    }
    .blog-gif {
        max-width: 100%;
    }
}