---
layout: default
---

<div class="row">
    <div class="col-lg-3"></div>
    <div class="col">
        <div class="card">
            <h3 style="text-align: center">
                Welcome to
            </h3>
            <h1 style="text-align: center">
                Maggie's Portfolio
            </h1>
            <div style="height: 20px"></div>
            <p style="text-align: center">
            From this portfolio you can learn more about me and my professional qualifications
            through past experiences such as internships, personal projects, and school coursework. In the
            about me section you can learn more about the special attributes that make me a good candidate
            for a wide variety of projects. If you're interested in the details of specific projects I've been involved
            in, the blog section has write-ups from various engineering and leadership activities such as my role
            as president of Aggies Offroad Racing and Development, various CAD models I've modeled, and my personal
            work in implementing computer architectures in video games.
            </p>
            <div style="height: 100px"></div>
            <div class="row">
                <div class="col-sm">
                    <img src="/assets/img/team.svg" width="75%" height="75%" style="display: block; margin: auto"/>
                    <div style="height: 20px"></div>
                    <h5 style="text-align: center">Team Oriented</h5>
                </div>
                <div class="col-sm">
                    <img src="/assets/img/gear.svg" width="75%" height="75%" style="display: block; margin: auto"/>
                    <div style="height: 20px"></div>
                    <h5 style="text-align: center">Practical Engineering</h5>
                </div>
                <div class="col-sm">
                    <img src="/assets/img/tech.svg" width="75%" height="75%" style="display: block; margin: auto"/>
                    <div style="height: 20px"></div>
                    <h5 style="text-align: center">Technical Competency</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3"></div>
</div>
